.login-page {
    position: relative;
    background: #011d5f;

    &:before {
        position: absolute;
        top: 0;
        left: 0;
        content: '';
        width: 100%;
        height: 100%;
        background-image: url(/public/images/banner.png);
        z-index: 0;
        background-size: cover;
        background-position: center;
        filter: blur(20px);
    }
    
    .login-box {
        width: 500px;
        padding: 2rem;
        background-color: #ffffffa7;
        position: relative;
    }
}