.user-manage-page {
    min-height: 100vh;

    .user-manage-content {
        padding: 5rem;
        background-color: #f8fbff;
        .table {
    
            td {
                vertical-align: middle;
            }

            & > :not(:first-child) {
                border-top: 0;
            }
        }
    }

    
}